<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/stylesheets/aboutus.css">

</head>
<body>

    <section id="about-us">
        <div class="container my-5">
          <div class="row">
    
            <div class="col-md-6">
            <div class="about-content title mb-3">
              <h2>
                About Us <br>
                Our History <br>
                Mission & Vision <br>
              </h2>
              <p class="mb-3">
                Blue Oasis Dive is a PADI dive centre located right on the beautiful beaches of Sanur, Bali. <br> Operating out of the Rip Curl School of Surf, we are the ultimate boutique dive experience. <br>With the best location, the highest standards for customer service, equipment, safety and environmental awareness, plus with all our other awesome activities, we can offer you an experience like no other.
              </p>
              <a href="#"><button class="btn btn-black">Learn More</button></a>
            </div>
          </div>
    
            <div class="col-md-6">
              <img src="https://source.unsplash.com/_STLYdogRF4/555x450" class="img-fluid" alt="">
            </div>
          </div>
    
        </div>
      </section>
    
</body>
</html>