<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/stylesheets/style.css">


</head>
<body>


    <body>
        <div class="item">
      
        <div class="card">
          <div class="pos1"><div class="abv abv1">Italian Food</div></div>
          <h2>"Italian Spicy cuisine"</h2>
        </div>
        <div class="card">
          <div class="pos2"><div class="abv abv2">Chinese Food</div></div>
          <h2>"Delicious Chinese Dishes"</h2>
        </div>
        <div class="card">
          <div class="pos3"><div class="abv abv3">Maxican Food</div></div>
          <h2>"Mouth watering Maxican"</h2>
        </div>
      </div>
      </body>





   




</body>
</html>